name: Prerelease
on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      mb_version: ${{ steps.get_version.outputs.mb_version }}
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Log in to GitHub packages Docker registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with: 
          python-version: "3.11"

      - name: Extract development version
        id: get_version
        run: |
          echo "mb_version=$(uv run --frozen python -m setuptools_scm | sed 's/+.*//')" \
          >> "$GITHUB_OUTPUT"

      - name: Build package
        env:
          SETUPTOOLS_SCM_PRETEND_VERSION: ${{ steps.get_version.outputs.mb_version }}
        run: uv build

      - name: Upload package artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: package-dist
          path: ./dist

      - name: Extract tag metadata for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ steps.get_version.outputs.mb_version }}
            type=raw,value=development

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: src/matchbox/server/Dockerfile
          push: true
          build-args: |
            MB_VERSION=${{ steps.get_version.outputs.mb_version }}
          tags: ${{ steps.meta.outputs.tags }}

      - name: Delete existing development release if it exists
        run: |
          gh release delete development --yes || true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create development prerelease
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          tag: development
          name: Development
          immutableCreate: true
          prerelease: true
          body: |
            This is a development build, usually from the latest main branch. 
            
            May be unstable.
            
            **Version:** ${{ steps.get_version.outputs.mb_version }}
            **Commit:** ${{ github.sha }}

  deploy-package:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    
    environment: pypi
    
    steps:
      - name: Download package artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: package-dist
          path: ./dist

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
